//==============================================
// Layout/footer
//============================================== 

.l-footer {
	background-color: $black;
    width: 100%;
    text-align: center;
    padding: 2% 0;	
}